// $myFont: 'Roboto',
// sans-serif;
$myFont: 'Chakra Petch',
sans-serif;
$myColor1:#000000; //black
$myColor2:#8083FF;
$myColor3:#22212F; // text color
$myColor4:#00E5B0;
$myColor5:#FAF7FF;
// https: //mycolor.space/?hex=%230C0C0C&sub=1
$myFontSize: 18px;
$bodyWidth: 1200px;

// TODO remove comments
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile-max: "only screen and (max-width : 600px)";
$media-mobile-min: "only screen and (min-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
// @media #{$media-desktop} {
//   background: red;
// }


body {
  background-color: $myColor3;
  // opacity: 0.3;
}

.container {
  background-color: $myColor5;
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor3;
  max-width: $bodyWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  &__logo {
    font-weight: bold;
    font-size: 2em;
    padding-left: 15px;

  }

  &__social-icons ul li a {
    color: $myColor3;

  }

  &__links {
    @media #{$media-mobile-max} {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none outside none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    // gap: 25%;

  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__item a {
    text-decoration: none;
    color: inherit;
  }

  &__item a:hover {
    text-shadow: 2px 2px 6px $myColor3;
  }

  &__side-menu {
    font-size: 32px;
    color: $myColor3;

    @media #{$media-mobile-min} {
      display: none;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $myColor5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: $myColor3;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.welcome {
  display: flex;
  align-items: center;
  padding: 7em;

  @media #{$media-desktop} {
    padding: 2em;
  }

  @media #{$media-tablet} {
    padding: 0.5em;
  }

  @media #{$media-mobile-max} {
    flex-direction: column;
    padding: 2em;
  }

  @media #{$media-mobile-sm} {
    padding: 1em 0em 1em 0em;
  }

  &__picture {
    display: flex;
    flex: 1;
    padding: 0.5em;
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0.5em;
  }

  &__title {
    font-weight: 700;
  }

  &__myimg {
    max-width: 100%;
    object-fit: cover;
    // box-shadow: 10px 1px 100px 0 rgba(0, 0, 0, 0.2),
    // 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    // height: auto;
    // height: 10px;
    // width: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }
}

.highlight {
  background-color: $myColor1;
  color: $myColor5;
}



.btn {
  padding: 10px 50px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: $myColor5;
}

.btn:hover {
  text-shadow: 2px 2px 6px $myColor3;
}

.btn-black {
  background-color: $myColor1;
  color: $myColor5;
}

.btn-black:hover {
  text-shadow: 2px 2px 6px $myColor5;
}

footer {
  text-align: right;
}