a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #22212F;
}

.container {
  background-color: #FAF7FF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  color: #22212F;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.nav__logo {
  font-weight: bold;
  font-size: 2em;
  padding-left: 15px;
}
.nav__social-icons ul li a {
  color: #22212F;
}
@media only screen and (max-width : 600px) {
  .nav__links {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none outside none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.nav__item {
  padding-left: 15px;
  padding-right: 15px;
}
.nav__item a {
  text-decoration: none;
  color: inherit;
}
.nav__item a:hover {
  text-shadow: 2px 2px 6px #22212F;
  cursor: pointer;
}
.nav__side-menu {
  font-size: 32px;
  color: #22212F;
}
@media only screen and (min-width : 600px) {
  .nav__side-menu {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FAF7FF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #22212F;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

main {
  padding: 1em 7em 1em;
}

.welcome {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2em 0em;
}
.welcome__pic-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  padding: 0.5em;
  animation: flow-left 1s;
}
.welcome__image {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}
.welcome__img-holder {
  position: absolute;
  background: whitesmoke;
  width: 80px;
  height: 40px;
  transform: skewX(-25deg);
  border-radius: 15%;
  opacity: 0.7;
  color: grey;
  font-size: 14px;
}
.welcome__holder-dot {
  font-weight: 700;
  line-height: 6px;
}
.welcome__top-holder {
  left: 0px;
  top: 0px;
}
.welcome__bottom-holder {
  bottom: 0px;
  right: 0px;
}
.welcome__text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0.5em;
}
.welcome__title {
  font-weight: 700;
}
.welcome__buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em;
}
.work__title {
  margin-bottom: 0;
}
.work__title-description {
  text-align: center;
}
.work__tags-filter ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.work__tags-filter label {
  margin: 0 10px;
  padding: 1px 15px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #FAF7FF;
  color: #22212F;
  user-select: none;
}
.work__tags-filter label:hover {
  text-shadow: 2px 2px 6px #22212F;
  cursor: pointer;
}
.work input[type=radio] {
  display: none;
}
.work input[type=radio]:checked + label {
  background: #22212F;
  color: white;
}
.work__cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0em;
  justify-content: space-between;
}
.work__card {
  width: 200px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
}

.highlight {
  color: #FAF7FF;
  background-color: #000000;
}

.btn {
  padding: 10px 50px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #FAF7FF;
}

.btn:hover {
  text-shadow: 2px 2px 6px #22212F;
  cursor: pointer;
}

.btn-black {
  background-color: #000000;
  color: #FAF7FF;
}

.btn-black:hover {
  text-shadow: 2px 2px 6px #FAF7FF;
  cursor: pointer;
}

footer {
  text-align: right;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width : 1024px) {
  main {
    padding: 1em 2em 1em;
  }

  .btn {
    padding: 10px 40px;
  }
}
@media only screen and (max-width : 768px) {
  main {
    padding: 0em 2em 0em;
  }

  .btn {
    padding: 10px 30px;
  }
}
@media only screen and (max-width : 600px) {
  main {
    padding: 1em 1em 0em;
  }

  .welcome {
    flex-direction: column;
  }
  .welcome__top-holder {
    left: 50px;
  }
  .welcome__bottom-holder {
    right: 50px;
  }
  .welcome__image {
    padding: 0em 1em 0em;
    max-width: 60%;
  }

  .btn {
    padding: 10px;
  }
}
@media only screen and (max-width : 480px) {
  main {
    padding: 1em 0em 0em;
  }

  .welcome__top-holder {
    left: 20px;
  }
  .welcome__bottom-holder {
    right: 20px;
  }
}
@keyframes flow-left {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
