$myFont: 'Chakra Petch',
sans-serif;
$myColor1:#000000; //black
$myColor2:#8083FF;
$myColor3:#22212F; // text color
$myColor4:#00E5B0;
$myColor5:#FAF7FF;
$myFontSize: 18px;
$bodyWidth: 1200px;

// TODO remove comments
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile-max: "only screen and (max-width : 600px)";
$media-mobile-min: "only screen and (min-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
// @media #{$media-desktop} {
//   background: red;
// }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $myColor3;
  // opacity: 0.3;
}

.container {
  background-color: $myColor5;
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor3;
  max-width: $bodyWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  &__logo {
    font-weight: bold;
    font-size: 2em;
    padding-left: 15px;

  }

  &__social-icons ul li a {
    color: $myColor3;

  }

  &__links {
    @media #{$media-mobile-max} {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none outside none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    // gap: 25%;

  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__item a {
    text-decoration: none;
    color: inherit;
  }

  &__item a:hover {
    text-shadow: 2px 2px 6px $myColor3;
    cursor: pointer;

  }

  &__side-menu {
    font-size: 32px;
    color: $myColor3;

    @media #{$media-mobile-min} {
      display: none;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $myColor5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: $myColor3;
  cursor: pointer;

}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

main {
  padding: 1em 7em 1em;
}

.welcome {
  display: flex;
  align-items: center;
  position: relative;

  &__pic-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    padding: 0.5em;
    animation: flow-left 1s;
  }

  &__image {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
  }

  &__img-holder {
    position: absolute;
    background: grey;
    width: 80px;
    height: 40px;
    transform: skewX(-25deg);
    border-radius: 15%;
    opacity: 0.3;
  }

  &__holder-dot {
    font-weight: 700;
    line-height: 6px;
  }

  &__top-holder {
    left: 0px;
    top: 0px;
  }

  &__bottom-holder {
    bottom: 0px;
    right: 0px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0.5em;
  }

  &__title {
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }


}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 0;
  }

  &__title-description {
    text-align: center;
  }

  &__tags-filter ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__tags-filter label {
    margin: 0 10px;
    padding: 1px 15px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: $myColor5;
    color: $myColor3;
    user-select: none;

  }

  &__tags-filter label:hover {
    text-shadow: 2px 2px 6px $myColor3;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked+label {
    background: $myColor3;
    color: white;
  }
}





.highlight {
  color: $myColor5;
  background-color: $myColor1;
}

.btn {
  padding: 10px 50px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: $myColor5;
}

.btn:hover {
  text-shadow: 2px 2px 6px $myColor3;
  cursor: pointer;

}

.btn-black {
  background-color: $myColor1;
  color: $myColor5;
}

.btn-black:hover {
  text-shadow: 2px 2px 6px $myColor5;
  cursor: pointer;

}

footer {
  text-align: right;
}

// media
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media #{$media-desktop} {
  main {
    padding: 1em 2em 1em;
  }

  .btn {
    padding: 10px 40px;
  }
}

@media #{$media-tablet} {
  main {
    padding: 0em 2em 0em;
  }

  .btn {
    padding: 10px 30px;
  }
}

@media #{$media-mobile-max} {

  main {
    padding: 1em 1em 0em;
  }

  .welcome {
    flex-direction: column;

    &__top-holder {
      left: 50px;
    }

    &__bottom-holder {
      right: 50px;
    }

    &__image {
      padding: 0em 1em 0em;
      max-width: 60%;
    }
  }

  .btn {
    padding: 10px;
  }
}

@media #{$media-mobile-sm} {
  main {
    padding: 1em 0em 0em;
  }

  .welcome {
    &__top-holder {
      left: 20px;
    }

    &__bottom-holder {
      right: 20px;
    }
  }
}

// animations
@keyframes flow-left {
  0% {
    left: -1000px;
  }

  100% {
    left: 0px;
  }
}