@import "../../../styles/_variables";

.layout {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &__content {
        background-color: $colorWhite;
        border-radius: 5px;
        margin: 50px 0;
        padding: 0 $size-1;
    }
}

@media (min-width: $media-mobile) {
    .layout {
        max-width: 540px;
    }

    .layout__content {
        padding: 0 $size-3;
    }
}

@media (min-width: $media-tablet) {
    .layout {
        max-width: 720px;
    }

    .layout__content {
        padding: 0 $size-4;
    }
}

@media (min-width: $media-desktop) {
    .layout {
        max-width: 960px;
    }

    .layout__content {
        padding: 0 $size-5;
    }
}

@media (min-width: $media-desktopX) {
    .layout {
        max-width: 1140px;
    }

    .layout__content {
        padding: 0 $size-5;
    }
}

@media (min-width: $media-desktopXX) {
    .layout {
        max-width: 1320px;
    }

    .layout__content {
        padding: 0 $size-5;
    }
}