// variables
$fontFamily: 'Chakra Petch, sans-serif';
$darkBackground: rgb(25, 29, 34);
$lightBackground: rgb(255, 255, 255);
$fontSize: 18px;
$textColorDark: rgb(0, 0, 0);

//sizing
$size-0: 0 !important;
$size-1: 0.25rem !important;
$size-2: 0.5rem !important;
$size-3: 1rem !important;
$size-4: 1.5rem !important;
$size-5: 3rem !important;

//layout
$borderRadius: 5px;
$marginYX: 50px 0;
$media-desktopXX: 1400px;
$media-desktopX: 1200px;
$media-desktop: 992px;
$media-tablet: 768px;
$media-mobile: 576px;

// $margin1: 2rem;
// $margin2: 2rem;

// $myColorText:rgb(151, 152, 153);
// $myColorBlack:rgb(21, 22, 24);

// $myColor2:#8083FF;
// $myColor4:#00E5B0;
// $myColorWhite:#FFFFFF;
// $myColorGrey: rgb(245, 246, 247);
// $myColorFilterText: rgb(151, 152, 153);
// $bodyWidth: 1200px;